#wrap-preloader {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(5, 5, 5, 0.95);
  margin: 0; }
  #wrap-preloader #preloader {
    height: 140px;
    width: 140px;
    border-top: 2px solid #f9ef0c;
    position: relative;
    left: 45%;
    bottom: -40vh;
    border-radius: 50%;
    -webkit-animation: prelrot 1s linear infinite;
    animation: prelrot 1s linear infinite; }
    #wrap-preloader #preloader:after, #wrap-preloader #preloader:before {
      border-radius: 50%;
      content: "";
      position: relative;
      display: block; }
    #wrap-preloader #preloader:after {
      bottom: 165px;
      left: 20px;
      height: 100px;
      width: 100px;
      border-left: 2px solid #901132; }
    #wrap-preloader #preloader:before {
      top: -20px;
      left: -20px;
      height: 180px;
      width: 180px;
      border-right: 2px solid #0cf926; }

@-webkit-keyframes prelrot {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes prelrot {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
